#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* LEFT SIDE  */
#left-side {
  width: 40%;
  background-image: url("/assets/images/bg-image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25vh;
}

#logo-banner {
  background-color: rgba(0, 0, 0, 0.4); /* Black with 50% transparency */
  width: 100%; /* Full width of the parent container */
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17%;
  overflow: hidden;
}

#logo-img {
  background-color: rgba(78, 123, 65, 0.4);
  height: 100%; /* Make the image height equal to the height of the banner */
  object-fit: contain; /* Ensures the image keeps its aspect ratio */
  max-width: 100%;
}

#logo-name {
  font-family: "Boldonse", system-ui;
  font-size: 4vh;
  color: green;
  padding: 0;
}

/* RIGHT SIDE */

#right-side {
  width: 60%;
  background-color: rgb(212, 248, 220);
  display: flex;
  flex-direction: column;
}

#paragraphs {
  padding: 10% 20% 3% 5%;
  font-family: "Roboto", system-ui;
  font-size: 2.5vh;
  line-height: 1.2;
  font-weight: 700;
}

.intro {
  margin: 3% 0%;
}

form {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 3% 0 3% 5%;
}

#form-title {
  font-size: 2.5vh;
  font-weight: 700;
}

#form-structure {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: rgb(110, 110, 110)
}

.form-row {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

.form-input {
  padding-right: 5%;
}

.form-input > input{
    width: 13vw;
    height: 3.4vh;
    border: 2px solid darkgray; 
    border-radius: 5px; 
    outline: none; 
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .form-input > input:focus {
    border: 2px solid blue;
    outline: none; /* Removes default focus outline */
}

.form-input > input:invalid {
    border: 2px solid red;
}


  button{
    margin: 3% 0 3% 5%;
    width:20%;
    height:5%;
    background-color: rgb(61, 94, 64);
    color:white;
    font-weight: bold;
    border-radius: 5px; 
    border: none;
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #login{
    margin: 0% 5%;
    width:30%;
    font-size: 90%;
    font-weight: 700;
    color: rgb(53, 52, 52)
  }

  #login > span{
    color:rgb(61, 94, 64);
  }